@model List<CorporX.Models.AboutUs.SliderItems>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="owl-carousel owl-theme client-testimonial custom-arrow custom-arrow-bottom-center mb-5">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="testimonial-single shadow-sm gray-light-bg rounded p-4">
                            <blockquote>
                                @item.Content
                            </blockquote>
                            <div class="client-img d-flex align-items-center justify-content-between pt-4">
                                <div class="d-flex align-items-center">
                                    <img src="@item.Photo" alt="client" width="50" class="img-fluid rounded-circle shadow-sm mr-3" />
                                    <div class="client-info">
                                        <h5 class="mb-0">@item.FullName</h5>
                                        <small class="mb-0">@item.Position</small>
                                    </div>
                                </div>
                                <div class="client-ratting">
                                    <ul class="list-inline client-ratting-list">
                                        @for (int i = 0; i < item.Star; i++)
                                        {
                                            <li class="list-inline-item"><span class="fas fa-star ratting-color"></span></li>
                                        }
                                        @for (int i = 0; i < (5 - item.Star); i++)
                                        {
                                            <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                        }
                                    </ul>
                                    <span class="font-weight-bold">@item.Star.0 <small class="font-weight-lighter">Out of @item.Star</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
