@model CorporX.Models.Home.HomePromo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Control/Views/Shared/_AdminLayout.cshtml";
}

<section>
    <container>
        <row>
            <div class="px-4">
                <h1 class="text-danger">Details</h1>
                <div>
                    <h4>HomePromo</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Content)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Icon)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Icon)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> 
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>
            </div>
        </row>
    </container>
</section>