@model ProjectDetialsViewModel
<!--body content wrap start-->
<div class="main">

    <partial name="_Breadcrumb" model="Model.BreadcrumbViewModel"/>
    <!--project details section start-->
    <section class="project-details-section ptb-100">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12 col-lg-8">
                    <div class="img-wrap mb-md-4 mb-lg-0">
                        <img src="https://res.cloudinary.com/djsws5hil/image/upload/v1602055679/CorporX/hero-bg7_of9gzb.jpg" alt="project" class="img-fluid rounded shadow-sm" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <!--all services list-->
                    <aside class="widget widget-categories">
                        <div class="widget-title">
                            <h5>All Services</h5>
                        </div>
                        <ul class="all-service-list">
                            <li><a href="#">Financial Services Consulting</a></li>
                            <li><a href="#">Consumer Product Consulting</a></li>
                            <li><a href="#">Global Consumer insights</a></li>
                            <li><a href="#">Independent contractor</a></li>
                            <li><a href="#">Creative Idea Development</a></li>
                            <li><a href="#">Social Media Marketing</a></li>
                        </ul>
                    </aside>
                </div>
            </div>

            <!--project details row start-->
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="project-details-content">
                        <h5>@Model.ProjectDetails.Title</h5>
                        <p>
                            @Model.ProjectDetails.Text
                        </p>
                        <p>
                            @Model.ProjectDetails.Text
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="project-details-feature">
                        @foreach (var item in Model.ProjectDetails.List.Split(",").Take(3))
                        {
                            <li class="py-1">
                                <span class="ti-control-forward mr-2 color-secondary"></span>
                                <strong>@item.Split(" ")[0]</strong>
                                @foreach (var text in @item.Split(" ").Skip(1))
                                {
                                    @(text + " ")
                                }
                            </li>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="project-details-feature">
                        @foreach (var item in Model.ProjectDetails.List.Split(",").Skip(3).Take(3))
                        {
                            <li class="py-1">
                                <span class="ti-control-forward mr-2 color-secondary"></span>
                                <strong>@item.Split(" ")[0]</strong>
                                @foreach (var text in @item.Split(" ").Skip(1))
                                {
                                    @(text + " ")
                                }
                            </li>
                        }
                    </div>
                </div>
            </div>
            <!--project details row end-->
        </div>
    </section>
    <!--project details section end-->
    <partial name="_CallToAction" />


</div>
<!--body content wrap end-->